header
	background-image: url(../img/header.jpg)
	background-repeat: no-repeat
	background-position: top
	background-size: cover
	height: 600px
	padding-top: 64px
.navbar__left-bg
	background-color: #fff
	width: 4.6vw
	height: 71px
	align-self: center
.header__phone
	font-size: 24px
	line-height: 46px
	color: rgb(255,255,255)
	font-family: "Roboto Slab", serif
	flex-grow: 1
